@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue Montreal Bold';
    src: url('../fonts/NeueMontreal-Bold.otf');
}
@font-face {
    font-family: 'Neue Montreal Italic';
    src: url('../fonts/NeueMontreal-BoldItalic.otf');
}

body {
    font-family: 'Neue Montreal Bold';
}
nav input {
    font-family: 'Neue Montreal Italic';
}